.mother{

	height: 200PX;
	width: 200PX;
	margin: 100PX;

}

.child{
	border: 10px dashed  #1BB3B8 ;
	height: 100px;
	width: 100px;
	border-radius: 100%;
	position: fixed;

    animation-name: ex;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;

  

    animation-direction: reverse;    



}
.child2{

		border: 10px dashed #1BB3B8 ;
	height: 100px;
	width: 100px;
	border-radius: 100%;
	position: fixed;
	    animation-name: ex;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;

}
@keyframes ex {
	from{
		transform: rotate(0deg);
/*		border: 10px dashed #1BB3B8;
*/
	}
	to{
				transform: rotate(360deg);

/*		border: 10px dashed #371AC4;
*/
	}
}

.child3{

    position: fixed;
    left: 135px; top: 135px;
text-align: center;  
font-size: 35px;  
    font-family: "Times New Roman", Times, serif;
    border-radius: 20%;

}

